header {
    background: lightcyan;
    width: 100%; 
}

.header-container {
    display: flex;  
    justify-content: space-between; 
    align-items: center;  
    width: 60%; 
    margin: auto; 
}

.name-box {
    background: darkcyan;
    padding: 20px 30px;
    display: flex;
    align-items: flex-end;
}

nav {
    display: flex;
    gap: 20px;
}

body  {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/restaurant.png");
    background-color: teal;
  }

.center-content {
    max-width: 800px;
    margin: 24px auto;
    background: lightcyan;
    padding: 20px;
    border-radius: 10px;
}

.sidebar {
    width: 180px; 
    background: lightcyan; 
    padding: 15px;
    position: absolute; 
    top: 100px; 
    right: 20px; 
    border-radius: 8px; 
    text-align: center; 
    margin-top: 50px;
}

.sidebar a {
    display: inline-block; 
    text-decoration: none; 
    width: 40px;
    height: 40px;
}

.sidebar img {
    width: 40px;
    height: 40px; 
    margin: 15px 0;
}

.headshot {
    float: left;
    width: 200px;
    height: auto;
    image-rendering: high-quality;
    margin-right: 20px;
}

p {
    border: 12px transparent;
    margin: 20 px;
}

footer {
    background:lightcyan;
    padding: 10px;
    text-align: center;
}